.adschool {
	width: 24%;
	position: fixed;
	top: 90px;
	left: 8%;
	background-color: #fff;
	color: #333;
}

button {

    border: none;
    /*移除按钮边框*/
    border-radius: 5px;
    /*设置按钮圆角*/
    text-align: center;
    /*设置文字居中*/
    text-decoration: none;
    /*移除文字下划线*/
    display: inline-block;
    /*设置按钮为块级元素*/
    font-size: 22px;
    /*设置按钮文字大小*/
    margin: 10px 0;
    /*设置按钮外边距*/
    cursor: pointer;
    /*设置鼠标指针为手形*/
    transition: background-color 0.3s;
    /*设置按钮背景颜色渐变过渡效果*/
    width: 100px;
}

button:hover {
    background-color: darkgray;
    /*设置鼠标悬停时的按钮背景颜色*/
    color: white;
}

.partschool{
	
	margin-left: 32%;
	width: 60%;
	
}
.partschool h2{
	display: inline-block;
	width: 80%;
}

.customers-container{
	float: left;
	margin: 3px;
}
